

*, *::after, *::before {
    box-sizing: border-box;
    transition: all 0.5s ease;
  }

html {
    color: black ;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
body {
    background: #fff ;
}
h1 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
h2 {
    font-size: 1.75rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
h3 {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
p {
    line-height: 1.25rem;
}

.header {
    background: #f0f0f0;
    margin-bottom: 3rem;
    padding: 1rem 0 2.5rem;
}
.pre-footer {
    background: #f0f0f0;
    margin: 5rem auto 0;
    padding: 1rem 0 2rem;
}
.footer {
    background: #d3d3d3;
    padding: 2rem auto;
}
.content {
    display: flex;
    margin: 2rem auto 0;
    max-width: 1000px;
    padding: 0 2rem;
    width: 100%;
}
.band {
    max-width: 100%;
    width: 100%;
}
.contact-content {
    color: #191919;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.contact-info {
    width: 100%;
}
.contact-info h1 {
    font-weight: 700;
    margin: 0;
}
.contact-info h2 {
    color: #808080;
    font-weight: 200;
    margin: 1rem auto 1rem;
    padding:0.5rem;
    position: relative;
}
.contact-info h2::after {
    background-color: #808080;
    bottom: 0;
    content:'';
    height: 1px;
    left: 1%;
    position: absolute;
    width: 5rem;
}
.contact-info p span {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.social-content {
      margin: 1rem 0;
}
/* .contact-photo {
      display:block;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: auto;
} */
/* .contact-photo img {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1rem;
} */
  /* This seems redundant so far */
.tab-content {
    margin: 0 0;
    width: 1000px;
}
/* This seems redundant so far */
.projects-header { 
    margin-bottom: 0;
    position: relative;
}
.projects-header::after {
    background-color: #808080;
    bottom: 0;
    content:'';
    height: 1px;
    left: 1%;
    position: absolute;
    width: 4rem;
}
h2.projects-header  {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.projects-content {
    align-content: center;
    justify-content: center;
}
.project-nav {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-nav-link {
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    text-align: center;
    /* seems unnecessary */
    border-bottom: red;
    justify-content: center;
}

.project-nav-link.active {
    border-bottom: red;
}
.project-image {
    margin: 1rem auto;
    max-width: 350px;
    padding: 1rem;
    width: 100%;
}
.tab-text {
    display: flex;
    flex: 1 70%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto 2rem;
    text-align: left;
}
.quoted {
    color: #787878;
    font-style: italic;
}
h3.tab-text::after {
    background-color: #808080;
    bottom: 0;
    content:'';
    height: 1px;
    left: 1%;
    position: absolute;
    width: 4rem;
}
/* what does this do */
.tab-text > div {
    flex: 1;
    width: 100%;
}
/* what does this do */
.tab-text > div:nth-child(2n) {
    margin: 1;
}
/* what does this do */
.tab-text > div:nth-child(2n) a {
    color: red;
}
.project-selection {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
}
.aside {
    background: #104088;
    color: #fff;
    margin: 0;
    padding: 1rem;
    width: 100%;
}
/* what does this do */
.project-aside p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: red;
}
/* what does this do */
.aside > h3 {
    background:#104088;
    color: #fff;
    font-size: 1.25rem;
    margin: 0rem;
    padding: 1rem 0 0 0;
}
.tab-img {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.social-content {
    width: 100%;
}

.social-icons {
    align-content: center;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 1rem;
    padding: 0;
}
.social-icons a {
    display: inline-block;
    border: 2.25px solid #104088;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
    padding: 0.5rem;
    min-width: 40px;
}
.social-icons li {
    display: flex;
    font-size: 1.75rem;
    position: relative;
    margin: 0;
}
.social-icons li:first-child {
    margin-left: 0;
    padding-left: 0;
  }
.social-icons i {
    color: #131212;
}
.social-icons a:hover {
    background: #104088;
    border-bottom: #0a2c5e;
    box-shadow: 0px 2px 2px 0 #131212;
    color: #ffffff;  
}
.social-icons a:hover i {
    color: #ffffff; 
}
.upwork {
    height: 25.5px;
    max-width: 25.5px;
}
.linkedin {
    height: 25.5px;
    max-width: 25.5px;
}
.instagram {
    height: 25.5px;
    max-width: 25.5px;
}

.btn {
    align-items: center;
    background: transparent;
    border: 2px solid #104088;
    box-shadow: 0px 2px 2px 0 #131212;
    color: #191919;
    display: flex;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 5px;
    margin: 0.5rem 0;
    max-width: 500px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /* border-radius: 25%;
    min-width: 140px;
    min-height: auto; */
}
.btn:hover {
    background: #104088;
    color: #fff;
}
.project-nav-link.active {
    background: #104088;
    color: #fff;
}
.btn:active {
    background: #104088;
}
a {
    border-bottom: 2px solid #d3d3d3;
    color:#fff;
    text-decoration: none;
}
a:hover {
    border-bottom-color: #104088;
    color: #104088;
}
a:active {
    border-bottom: 2px solid #104088;
    color: #104088;
}
.past-clients h3 {
    align-content: center;
    letter-spacing: 4px;
    font-size: 2rem;
    font-weight:600;
}
ul.previous-company-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
}
ul.previous-company-list li {
    background: #0a2c5e;
    color: #fff;
    cursor:default;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
    letter-spacing: 4px;
    margin: .5rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: wrap;
}
.previous-company-list li:hover {
    background: #ff3627
}
ul.skills-list li {
    background: #0a2c5e;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    font-weight: 200;
    letter-spacing: 4px;
    margin: .5rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: wrap;
}
.skills-list li:hover {
    background: #ff3627
}
.footer-content {
    background: #dcdcdc;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

/* mobile media queries */
/* small */
@media (max-width: 576px) { 
    .contact-photo {
        margin: 0 auto;
        max-width: 300px;
        justify-content: center;
    }
    .name {
        /* margin-top: 1rem; */
        padding-top: 1rem;
    }
}
/* @media screen and (min-width: 768px) {
    .contact-content {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .contact-info {
        width: 100%;
        justify-content: center;
    }
    .contact-photo img {
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    .contact-photo img {
        max-width: 300px;
        margin:  auto;
        align-content: center;
        justify-content: center;
    }
     .name {
         padding-top: 1rem;
     }
} */
 @media (min-width: 769px) {
     .contact-content {
         flex-direction: row-reverse;
         justify-content: center;
     }
     .contact-info {
         width: 50%;
         justify-content: center;
     }
     /* .contact-photo {
        width: 50%;
        justify-content: center;
     } */
     .contact-photo img {
        height: auto;
        max-width: 400px;
        margin: auto;
        padding: 1rem;
        justify-content: center;
        align-content: center;
    }
/* what does this do */
     .tab-text > div:nth-child(2n) {
        margin: 0 0 2rem 2rem;
        padding: 1.25rem;
        width: 100%;
        max-width: 280px;
        font-size: 90%;
    }
/* what does this do */
    .tab-text > div {
        flex: 1;
        width: calc(100% - 2rem);
     }
 }


 /* large screens */
 @media (min-width: 992px) {
    .project-nav {
        flex-direction: row;
    }
    .tab-text {
        flex-direction: row;
    }
 }

 /* potential employer print resume */
 @media print {
    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
    a::after {
        content: " (" attr(href) ")";
      }
      img {
          display: none;
      }
      h1 {
        break-before: always;
      }
  }




























